# User-specific stuff for Pycharm
.idea/dictionaries
.idea/hidraw.iml
.idea/misc.xml
.idea/modules.xml
.idea.vcs.xml
.idea/**/workspace.xml
.idea

# For Virtual Environment for Pycharm
/venv/

# Byte-compiled / optimized / DLL files
__pycache__/
